<section class="left-content"></section>

<style>
  .left-content {
    margin-top: 27rem;
    width: 41rem;
    height: 31rem;
    background: #fcfcfc;
    border: 0.2rem solid #ededed;
    background: #000;
  }

  /*
  @media (max-width: 1000px) {
    section {
      margin: 0 auto;
    }
  }*/
</style>
