<section class="left-content"></section>

<style>
  .left-content {
    margin-top: 17rem;
    width: 25.625rem;
    height: 19.375rem;
    background: #fcfcfc;
    border: 2px solid #ededed;
    background: #000;
  }

  /*
  @media (max-width: 1000px) {
    section {
      margin: 0 auto;
    }
  }*/
</style>
