---
import VslContent from "./VslContent.astro";
import VslFooter from "./VslFooter.astro";
import VslHeader from "./VslHeader.astro";
---

<section>
  <VslHeader />
  <VslContent />
  <VslFooter />
</section>

<style>
  section {
    margin-top: 4rem;
    background-color: #222;
    height: fit-content;
  }
</style>
