<script type="module">
    const checkElement = setInterval(() => {
      const element = document.querySelector(".mt-2");
      if (element) {
        element.style.display = 'none';
        clearInterval(checkElement);
      }
    }, 100); 
</script>

<div>
  <div class="senja-embed" data-id="d5a2c444-5e01-4515-81b0-7a0b5d7abee9" data-lazyload="true"></div>
</div>

<style>
  div {
    padding: 10px;
  }
</style>
