---
import FreeConsultationItem from "./FreeConsultationItem.astro";
---

<div class="free-consultation">
  <h3>20MIN-CONSULTATION <span>(offert)</span></h3>
  <div class="free-consultation-items scroll-hidden">
    <FreeConsultationItem>
      <p>Bénéficie d'une vitrine à ton image pour ton business</p>
    </FreeConsultationItem>
    <FreeConsultationItem>
      <p>Augmente ton taux de conversion sans publicité payante</p>
    </FreeConsultationItem>
    <FreeConsultationItem>
      <p>Maximise l'impact de ta valeur perçue (Branding)</p>
    </FreeConsultationItem>
    <FreeConsultationItem>
      <p>Génère des leads directement depuis ton profil X</p>
    </FreeConsultationItem>
    <FreeConsultationItem>
      <p>Reçois des clients loyaux sans t'embêter avec le marketing</p>
    </FreeConsultationItem>
  </div>
</div>

<style is:global>
  .free-consultation {
    display: flex;
    flex-direction: column;
    background-color: #222;
    border: 1px solid #717070;
    padding: 0.75rem;
    width: fit-content;
  }

  h3 {
    padding-left: 30px;
  }

  .free-consultation-items {
    margin-top: 10px;
  }

  
  .scroll-hidden .free-consultation-item {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
      }

      .scroll-show .free-consultation-item {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
      }

      .free-consultation-item:nth-child(1) {
        transition-delay: 0ms;
      }

      .free-consultation-item:nth-child(2) {
        transition-delay: 100ms;
      }

      .free-consultation-item:nth-child(3) {
        transition-delay: 200ms;
      }

      .free-consultation-item:nth-child(4) {
        transition-delay: 300ms;
      }

      .free-consultation-item:nth-child(5) {
        transition-delay: 400ms;
      }

</style>
