---
import { withBase } from "@/utils/config-utils.ts";
const checkboxImageUrl = withBase('/images/checkbox.png');
---

<div>
  <img src={checkboxImageUrl} alt="Checked" />
  <slot />
</div>

<style>
  div {
    display: flex;
  }

  img {
    width: 30px;
    height: 30px;
  }
</style>
