<p>
  ALERTE ! <span>Ne fais PAS appel à moi</span> avant de remplir ces critères :
</p>

<style>
  span {
    text-decoration: underline;
    font-weight: 500;
    color: inherit;
  }

  p {
    color: black;
  }
</style>
