<p>
  ALERTE ! <span>Ne fais PAS appel à moi</span> avant de remplir ces critères de
  rentabilité :
</p>

<style>
  span {
    text-decoration: underline;
    font-weight: 500;
    color: inherit;
  }

  p {
    font-size: 1rem;
    color: black;
    width: 650px;
  }
</style>
