<h1>ON MONETISE JUSQU'A <br />60% DE TON AUDIENCE</h1>

<style>
  h1 {
    color: #000;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.05em;
    letter-spacing: -0.05rem;
    white-space: nowrap;
  }
</style>
