<h1>ON MONETISE JUSQU'A 60% DE TON AUDIENCE</h1>

<style>
  h1 {
    color: #000;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.05em;
    letter-spacing: -0.2rem;
    width: fit-content;
  }
</style>
