<h1>Chaque Abonné est<br/>un Client Potentiel.</h1>

<style>
  h1 {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.05em;
    letter-spacing: -0.2rem;
    width: fit-content;
  }
</style>
