<h1>
  CHAQUE ABONNE EST<br />
   UN CLIENT POTENTIEL
</h1>

<style>
  h1 {
    color: black;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.05em;
    letter-spacing: -0.05rem;
    white-space: nowrap;
  }
</style>
