---
import MainTitle from "./MainTitle.astro";
import SubTitle from "./SubTitle.astro";
import SimpleReview from "./SimpleReview.astro";
import CTA from "./cta/CTA.astro";
import CheckList from "./check-list/CheckList.astro";
import FAQ from "./faq/FAQ.astro";
import ValidateStrategyTogether from "./ValidateStrategyTogether.astro";
---

<section class="right-section">
  <SimpleReview />
  <MainTitle />
  <SubTitle />
  <FAQ />
  <ValidateStrategyTogether />
  <CTA />
  <CheckList />
</section>

<style>
  .right-section {
    height: fit-content;
    width: 70rem;
    margin: 7rem 0;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    gap: 0.4rem;
  }
</style>
