---
import FiveRating from "../common/FiveRating.astro";

---

<div>
  <FiveRating />
  <p>11+ Entrepreneurs Heureux</p>
</div>

<style>
  div {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;
  }
</style>
