<h2>
  J'envoie ton trafic sur une <span>Landing Pagequi convertit</span> vraiment.
</h2>

<style>
  h2 {
    color: black;
  }
  span {
    color: inherit;
    text-decoration: underline;
  }
</style>
