<h2>
  Mon travail c’est de les envoyer sur une <span class="bold-400"
    >Landing Page</span
  > qui convertit.
</h2>

<style>
  h2 {
    font-weight: 300;
  }

  h2,
  h2 span {
    color: black;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.1rem;
  }
</style>
