<h2>
  Mon rôle c'est de les envoyer sur une <span class="bold-600"
    >Landing Page</span
  > qui convertit.
</h2>

<style>
  h2 {
    color: black;
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }
</style>
