---
import { withBase } from "/src/utils/config-utils.ts";
const testimonialNicoImageUrl = withBase('/images/testimonial-nico.png');
---

<div>
  <img
    src={testimonialNicoImageUrl}
    alt="Nico Media Byer | Temoignage"
  />
</div>

<style>
  div{
    width: fit-content;
  }
</style>
