<p>
  <span>C'EST OK ?</span> On valide ensemble ta stratégie de conversion pour
  maximiser tes revenus ...
</p>

<style>
  span {
    text-decoration: underline;
    font-weight: 500;
    color: inherit;
  }

  p {
    font-size: 0.75rem;
    color: black;
  }
</style>
