---
import { withBase } from "../../../utils/config-utils";
const openImageUrl = withBase("/images/right-pointing-arrow.svg");
const closedImageUrl = withBase("/images/down-pointing-arrow.svg");
const faqItems = await Astro.glob("../../../content/faq/*.md");

console.log(faqItems.length);
---

<script>
  const ENABLE_MULTIPLE_COLLAPSE = false;

  document.addEventListener("DOMContentLoaded", () => {
    document.addEventListener("click", (event) => {
      const target = event.target as HTMLElement; // Type assertion here

      if (target.tagName === "SUMMARY" && !ENABLE_MULTIPLE_COLLAPSE) {
        document.querySelectorAll("details[open]").forEach((detail) => {
          if (detail !== target.parentNode) {
            // Now we can safely access parentNode
            detail.removeAttribute("open");
          }
        });
      }
    });
  });
</script>

<div class="faq">
  <p class="alert-title">ALERTE !</p>
  <p class="alert-subtitle">Ne fais pas appel à moi avant d'être prêt</p>
  <div
    class="accordion"
    style={`--openImageUrl: url(${openImageUrl});--closedImageUrl: url(${closedImageUrl})`}
  >
    {
      faqItems.map((faqItem) => (
        <details class="faq-md-content">
          <summary>{faqItem.frontmatter.question}</summary>
          <div set:html={faqItem.compiledContent()} />
        </details>
      ))
    }
  </div>

  <style>
    .faq {
      margin-top: 1.5rem;
      padding: 2rem;
      color: #eee;
      background-color: #111;
      box-shadow: 0px 0.4rem 10rem 0 rgba(0, 0, 0, 0.25);
    }

    .twitter-x-faq {
      width: 1rem;
      height: 1rem;
      position: relative;
      top: 0.15rem;
      left: 0.1rem;
    }

    .alert-title {
      font-weight: 600;
    }

    .alert-subtitle {
      font-weight: 500;
      color: #999;
    }

    .accordion {
      padding-top: 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .accordion details:hover {
      opacity: 0.8;
    }

    .accordion details[open]:hover {
      opacity: 1;
    }

    .accordion details {
      box-shadow: rgba(255, 255, 255, 0.1) 0 0.1rem 0.1rem 0 inset;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
      border-radius: 1.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
      padding-top: 0.75rem;
      padding-bottom: 1rem;
      color: #eee;
      margin-bottom: 5px;
    }

    .accordion summary {
      color: #eee;
      cursor: pointer;
    }

    .accordion div {
      margin: 1.25rem 1rem;
    }

    .accordion summary {
      list-style: none; 
      cursor: pointer;
      position: relative;
    }

    .accordion summary::before {
      content: ""; /
      position: absolute;
      right: 1rem;
      top: 0;
      background-image: var(--openImageUrl); 
      background-size: cover;
      width: 2rem;
      height: 2rem;
    }

    .accordion details[open] summary::before {
      background-image: var(--closedImageUrl);
    }
  </style>
  <style is:global>

    .faq-md-content h1,
    .faq-md-content h2,
    .faq-md-content h3 {
      padding: 1rem 0rem 0.5rem 0;
    }

    .faq-md-content h1 {
      text-decoration: underline;
    }

    .faq-md-content p {
      font-size: 1.2rem;
      color: #aaa;
      margin-bottom: 1rem;
    }

    .faq-md-content strong {
      font-weight: 600;
    }
  </style>
</div>
