---
import { Image } from "astro:assets";
import { withBase } from "../../utils/config-utils.ts";
import { bannerBackgroundColor, redColor } from "../../style/colors.ts";
import Available from "./Available.astro";
const rightArrowSquareUrl = withBase("/images/right-arrow-square.svg");
---

<section>
  <Available />
  <p>
    Si tu vois cette page, c'est qu'il me&nbsp;<span class="underline"
      >reste 1 place</span
    >&nbsp;pour propulser ta Landing Page
  </p>
  <a href="https://google.fr" class="take-chance-container">
    <p class="take-chance">JE SAISIS MA CHANCE</p>
    <Image src={rightArrowSquareUrl} alt="Warning!" width={20} height={20} />
  </a>
</section>

<style define:vars={{ bannerBackgroundColor, redColor }}>
  section {
    z-index: 1;
    position: fixed;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bannerBackgroundColor);
    height: 3rem;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .underline {
    text-decoration: underline;
    color: inherit;
  }

  p {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 2rem;
    line-height: 2rem;
    padding-bottom: 0.1rem;
  }

  .take-chance {
    color: var(--redColor);
    margin-left: 1rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
    text-decoration-line: underline;
  }

  .take-chance-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>
