---
import PulsingCircle from "../common/PulsingCircle.astro";
import { redColor } from "../../style/colors.ts";
---

<div>
  <p>DISPONIBLE</p>
  <PulsingCircle color={redColor} size="1rem" />
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    width: 150px;
    cursor: pointer;
    opacity: 0.77;
  }

  p {
    font-weight: 400;
    color: black;
    padding-bottom: 0.1rem;
  }
</style>
