<section>
  <img
    src="public/images/warning.png"
    alt="Warning!"
  />
  <p>Je n’accepte que 2 projets par mois.</p>
</section>

<style>
 section {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ececec;
}

img {
  width: 20px;
  height: 20px;
}

p {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 2rem;
  line-height: 2rem;
  padding-bottom: 0.1rem;
}
</style>
