---
import { withBase } from "../utils/config-utils.ts";
const legalMentionsPageUrl = withBase("/mentions-legales");
---

<section>
  <a href={legalMentionsPageUrl}>MENTIONS LEGALES</a>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: black;
    height: 3rem;
  }

  a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
  }
</style>
