---
import { withBase } from "../utils/config-utils.ts";
const legalMentionsPageUrl = withBase("/mentions-legales");
---

<section>
  <a href={legalMentionsPageUrl}>Mentions Legales</a>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    height: 2rem;
  }
</style>
