---
import { withBase } from "../utils/config-utils.ts";
import { bannerBackgroundColor } from "../style/colors.ts";
const legalMentionsPageUrl = withBase("/mentions-legales");
---

<section>
  <a href={legalMentionsPageUrl}>Mentions Legales</a>
</section>

<style define:vars={{ bannerBackgroundColor }}>
  section {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    background-color: var(--bannerBackgroundColor);
    height: 37px;
  }
</style>
