<section>
  <a href="./mentions-legales">Mentions Legales</a>
</section>

<style>
  section {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    background-color: #ececec;
    height: 37px;
  }
</style>
