---
import { Image } from 'astro:assets';
import { withBase } from "../utils/config-utils.ts";
const telegramImageUrl = withBase('/images/telegram.png');
---


<div>
  <Image
    src={telegramImageUrl}
    alt="Telegram"
    width={66}
    height={66}
/>
</div>

<style>
  img {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 66px;
    height: 66px;
    cursor: pointer;
  }
</style>
