---
import { Image } from "astro:assets";
import { withBase } from "../utils/config-utils.ts";
const telegramImageUrl = withBase("/images/whatsapp.png");
---

<div>
  <Image src={telegramImageUrl} alt="Telegram" width={66} height={66} />
</div>

<style>
  img {
    position: fixed;
    bottom: 2rem;
    right: 8rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: transform 0.2s;
  }

  @media (hover: hover) {
    img:hover {
      transform: scale(1.2);
    }
  }
</style>
