<button>
  <div class="container">
    <div class="all-lines">
      <div class="first-line">
        <img src="public/images/arrow.png" alt="Arrow" />
        <p class="text1">J'OBTIENS UNE LANDING PAGE PERFORMANTE</p>
      </div>
      <p>
        APPEL AMICAL ! Tu décides tranquillement si tu me confies le projet.
      </p>
    </div>
    <img class="twitter-logo" src="public/images/twitter-X.svg" alt="Twitter X" />
  </div>
</button>

<style>
  .text1 {
    font-weight: 900;
  }

  .twitter-logo {
    height: 50px;
    width: 50px;
  }
  
  .first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .all-lines {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  button {
    background-color: #f20d5e;
    border-radius: 20px;
    width: 535px;
    height: 75px;
    border: 0;
    cursor: pointer;
    box-shadow: inset 4px 1px 2px #00000040;
  }

  .container {
    justify-content: center;
    display: flex;
    gap: 2px;
  }
</style>
