---
import { Image } from 'astro:assets';
import { withBase } from "../../../utils/config-utils.ts";
const arrowImageUrl = withBase('/images/arrow.png');
const twitterXImageUrl = withBase('/images/twitter-X.svg');
---

<button class="animated-button">
  <div class="container">
  <div class="all-lines">
    <div class="first-line">
      <Image src={arrowImageUrl} alt={"Arrow"} width={30} height={30} />
        <p class="text1">J'OBTIENS UNE LANDING PAGE PERFORMANTE</p>
      </div>
      <p>
        APPEL AMICAL ! Tu décides tranquillement si tu me confies le projet.
      </p>
    </div>
    <Image class="twitter-logo" src={twitterXImageUrl} alt={"witter X"} width={50} height={50} />
  </div>
</button>

<style>
  .text1 {
    font-weight: 900;
  }

  .first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .all-lines {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3px;
  }

  button {
    background-color: #f20d5e;
    border-radius: 20px;
    width: 535px;
    height: 75px;
    border: 0;
    cursor: pointer;
    box-shadow: inset 4px 1px 2px #00000040;
  }

  .animated-button {
    position: relative;
    opacity: 1; /* Initial opacity */
    transition: transform 0.5s, opacity 0.5s; /* Define transitions for transform and opacity */
  }

  .animated-button:hover {
    transform: translateX(5px); /* Move to the right on hover */
    opacity: 0.7; /* Change opacity on hover */
  }

  .container {
    justify-content: center;
    display: flex;
    gap: 2px;
  } 
</style>
