---
import { Image } from "astro:assets";
import { withBase } from "../../utils/config-utils.ts";
import { bannerBackgroundColor, redColor } from "../../style/colors.ts";
import Available from "./Available.astro";
const rightArrowSquareImageUrl = withBase("/images/right-arrow-square.svg");
const twitterXImageeUrl = withBase("/images/twitter-X-square.svg");
---

<section class="advertisement">
  <Available />
  <p>
    Si tu vois cette page, c'est qu'il me&nbsp;<span class="underline"
      >reste 1 place</span
    >&nbsp;pour propulser ta Landing Page
  </p>
  <a href="https://google.fr" class="take-chance-container">
    <p class="take-chance">JE SAISIS MA CHANCE</p>
    <Image
      src={rightArrowSquareImageUrl}
      alt="Warning!"
      class="right-arrow-icon"
      width={20}
      height={20}
    />
    <Image
      src={twitterXImageeUrl}
      alt="Twitter-X"
      class="twitter-x-icon"
      width={50}
      height={50}
    />
  </a>
</section>

<style define:vars={{ bannerBackgroundColor, redColor }}>
  .advertisement {
    z-index: 5;
    top: 0;
    left: 0;
    position: fixed;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bannerBackgroundColor);
    height: 3rem;
  }

  .twitter-x-icon {
    position: absolute;
    top: 0.5rem;
    width: 2rem;
    height: 2rem;
    right: 0.5rem;
  }

  .right-arrow-icon {
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 2rem;
    line-height: 2rem;
    padding-bottom: 0.1rem;
  }

  .take-chance {
    color: var(--redColor);
    text-align: center;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.3px;
    text-decoration-line: underline;
  }

  .take-chance-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>
