---
import PulsingCircle from "../common/PulsingCircle.astro";
import { redColor } from "../../style/colors.ts";
---

<div class="available">
  <a href="https://google.fr">
    <PulsingCircle color={redColor} size="0.8rem" />
  </a>
</div>

<style>
  a {
    text-decoration: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
  }
</style>
