---
import PulsingCircle from "../common/PulsingCircle.astro";
import { redColor } from "../../style/colors.ts";
---

<div class="available">
  <a href="https://google.fr">
    <p>DISPONIBLE</p>
    <PulsingCircle color={redColor} size="0.8rem" />
  </a>
</div>

<style>
  a {
    text-decoration: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
  }

  p {
    font-size: 0.7rem;
    color: black;
    padding-bottom: 0.1rem;
  }
</style>
