---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Landing Page X" />
    <meta property="og:description" content="Landing Page X" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Landing Page X" />
    <meta name="twitter:description" content="Landing Page X" />

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>{title}</title>

    <script
      async
      type="text/javascript"
      src="https://static.senja.io/dist/platform.js"></script>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      html,
      body,
      p,
      ul,
      table,
      div,
      table,
      h1,
      h2,
      h3,
      h4,
      h5 {
        padding: 0;
        margin: 0;
      }

      h2 {
        font-weight: 400;
      }

      body {
        background-color: black;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
          Roboto, Ubuntu;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      .underline {
        text-decoration: underline;
      }

      .bold-800 {
        font-weight: 800;
      }

      .bold-700 {
        font-weight: 700;
      }

      .bold-600 {
        font-weight: 600;
      }

      html,
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        width: 100%;
        font-size: 16px;
      }

      ul {
        padding-left: 1.2rem;
      }

      .md-content h1,
      .md-content h2,
      .md-content h3 {
        padding: 1rem 0rem 0.5rem 0;
      }

      /* Media query for high-resolution screens */
      @media screen and (min-width: 2560px) {
        html,
        body {
          font-size: 20px;
        }
      }
    </style>
  </body>
</html>
